*[class^='container'] {
    border: 2px solid black;
}

*[class^='row'] {
    border: 3px solid red;
    height: 100%;

}

*[class^='col'] {
    border: 1px solid rgb(81, 0, 128);
}

/*HEADER*/
header {
    height: 100px;
    background-color: #2C3E50;
    color: white;

}

header .col {
    height: 60px;
}

/*Jumbotron*/
.jumbotron {
    padding: 20px 0;
    background-color: #1ABC9C;
}

.jumbotron .col {
    height: 80px
}

/*portfolio*/

.portfolio .col {
    height: 200px;
}

/*About*/
.about {
    background-color: #1ABC9C;
}

.about .col {
    height: 100px;
}

/*contact*/
.contact .col {
    height: 100px;
}

/*info*/
.info {
    background-color: #3A546D;
    color: white
}

.info .col {
    height: 80px;
}

/*footer*/
footer {
    background-color: #2C3E50;
    height: 100px;
    color: white;
}

footer .col {
    height: 60px;
}