*[class^='container'] {
    border: 2px solid black;
}

*[class^='row'] {
    border: 3px solid red;
    height: 100%;

}

*[class^='col'] {
    border: 1px solid rgb(0, 128, 28);
}

/*HEADER*/
header {
    background-color: #2C3E50;
}

/*Jumbotron*/
.jumbotron {
    padding: 20px 0;
    background-color: #1ABC9C;
}

/*About*/
.about {
    background-color: #1ABC9C;
}

.about .col {
    height: 100px;
}


/*info*/
.info {
    background-color: #3A546D;
    color: white
}


/*footer*/
footer {
    background-color: #2C3E50;
    height: 100px;
    color: white;
}