*[class^='container'] {
    border: 2px solid black;
}

*[class^='row'] {
    border: 1px solid red;
    height: 100%
}

*[class^='col'] {
    border: 1px solid rgb(81, 0, 128);
}

/*HEADER*/
header {
    height: 80px;
    background-color: #2C3E50;
    color: white;

}

header .col {
    height: 50px;
}

/*Jumbotron*/
.jumbotron {
    padding: 20px 0;
    background-color: #1ABC9C;
}

.jumbotron .col {
    height: 80px
}

/*portfolio*/

.portfolio .col {
    height: 200px;
}

.about {
    background-color: #1ABC9C;
}

.about .col {
    height: 100px;
}