*[class^='container'] {
    border: 2px solid black;
}

*[class^='row'] {
    border: 1px solid red;
    height: 100%;


}

*[class^='col'] {
    border: 1px solid green;
}

/*HEADER*/
header {
    height: 80px
}

header .col {
    height: 50px;
}

/*Jumbotron*/
.jumbotron {
    height: 250px;
    padding: 20px 0;
}

.jumbotron col {
    height: 80px
}