/*HEADER*/
header {
    background-color: #2C3E50;
}

/*Jumbotron*/
.jumbotron {
    padding: 20px 0px;
    background-color: #1ABC9C;
}


.jumbotron h1 {
    font-size: 2.3rem;
    display: block;
}


/*Portfolio*/
.portfolio {
    color: #2C3E50;

}

/*About*/
.about {
    background-color: #1ABC9C;
}

.about .col {
    height: 100px;
}


/*info*/
.info {
    background-color: #3A546D;
    color: white
}


/*footer*/
footer {
    background-color: #2C3E50;
    height: 100px;
    color: white;
}